@import "style";

/*
.test {
  z-index: 1;
  position: absolute;
  width: 20%;
  height: 400px;

  &.primary {
    top: 30px;
    left: 30px;
    background-color: $color-primary;
    &.on + .secondary {
      transition: 1s;
      top: 30px;
      left: 30px;
    }
  }

  &.secondary {
    top: 120px;
    left: 120px;
    background-color: $color-secondary;
  }

  &.on {
    top: 120px;
    left: 120px;
    transition: 1s;
    z-index: 2;
  }

  &_btn {
    width: 20%;
    height: 30px;
    border-radius: 6px;
    background-color: $color-primary;
    color: #fff;
    font-weight: $bold;
  }
}*/

%content-area {
  max-width: 1080px;
  min-width: 320px;
  margin: 0 auto;
}

.header {
  @extend %content-area;
  z-index: 10;
  @include position(fixed, 0, 0, 0);
  padding: 20*$unit;
  &__inner {
    display: flex;
    align-items: center;
    height: 94*$unit;
    padding: 0 24*$unit 0 36*$unit;
    border-radius: 94*$unit;
    box-shadow: 12*$unit 24*$unit 30*$unit rgba(0, 0, 0, 0.04);
    background-color: #fff;
  }
  &__gnb {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      position: relative;
      width: auto;
      padding: 20*$unit;
      font-size: 20*$unit;
      font-weight: $medium;
      color: $gray-40;
      &:not(:last-child):after {
        @include position-center(y, absolute, 50%, null, 0);
        content: "";
        display: block;
        width: 2px;
        height: 0.8em;
        background-color: $gray-20;
      }
      &.on {
        font-weight: $bold;
        color: $color-primary;
      }
      @include hover_effect() {
        font-weight: $bold;
        color: $color-primary;
      }
    }
  }
  &__snb {
    display: flex;
    button {
      width: auto;
      height: 48*$unit;
      padding: 0 20*$unit;
      border: 1px solid $gray-20;
      border-radius: 48*$unit;
      font-size: 15*$unit;
      font-weight: $medium;
      color: $gray-50;
      & + * {
        margin-left: 16*$unit;
      }
      @include hover_effect {
        border-color: $color-primary;
        color: $color-primary;
      }
      @include click_btn_bg();
    }
    .cta {
      border: 0;
      background-color: $color-primary;
      font-weight: $bold;
      color: #fff !important;
      @include hover_effect {
        background-color: $color-accent;
      }
      @include click_btn_bg($color-accent);
      i {
        background-image: url("../img/i_download_w.svg");
      }
    }
  }
  .logo {
    width: 60*$unit;
  }
}
.main {
  &__inner {}
}
.visual {
  background: linear-gradient(to bottom, $color-primary-light-60 93.75%, $color-secondary-light-40 93.75%);
  &__inner {
    position: relative;
    @extend %content-area;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  &__ttl-box {
    z-index: 1;
    @include position(absolute, 0, 0, 0);
    padding: 19.814814% 54*$unit 0;
    font-size: 1vw;
    img {
      width: auto;
      height: 8em;
      max-height: 76*$unit;
    }
  }
  &__txt-box {
    z-index: 1;
    @include position(absolute, 0, 0, 0);
    display: flex;
    align-items: center;
    padding: 38.333333% 54*$unit 0;
    font-size: 18*$unit;
    color: $gray-60;
    img {
      width: 52*$unit;
      height: 52*$unit;
      margin-left: 12*$unit;
    }
    em {
      font-weight: $bold;
      color: $color-primary;
    }
  }
  &__img-box {
    $main-den: 1080;
    position: relative;
    float: left;
    width: 100%;
    padding-top: 960/$main-den*100%;
    & * {
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .cafe {
      $cafe-den: 403;
      left: 17/$main-den*100%;
      bottom: 50/$main-den*100%;
      width: 403/$main-den*100%;
      padding-top: 309/$main-den*100%;
      background-image: url("../img/brand_visual_cafe.svg");
      .person {
        &.type1 {
          right: -161/$cafe-den*100%;
          bottom: -10/$cafe-den*100%;
          width: 161/$cafe-den*100%;
          padding-top: 256/$cafe-den*100%;
          background-image: url("../img/brand_visual_person1.svg");
          animation: 2s ease-out 0s infinite alternate person-type1;
        }
        &.type2 {
          right: 120/$cafe-den*100%;
          bottom: -10/$cafe-den*100%;
          width: 150/$cafe-den*100%;
          padding-top: 235/$cafe-den*100%;
          background-image: url("../img/brand_visual_person2.svg");
          animation: 2s ease-out 0s infinite alternate person-type2;
        }
      }
      .tree {
        &.type1 {
          right: 531/$cafe-den*100%;
          bottom: 0;
          width: 108/$cafe-den*100%;
          padding-top: 200/$cafe-den*100%;
          background-image: url("../img/brand_visual_tree1.svg");
        }
        &.type2 {
          right: 423/$cafe-den*100%;
          bottom: 0;
          width: 98/$cafe-den*100%;
          padding-top: 102/$cafe-den*100%;
          background-image: url("../img/brand_visual_tree2.svg");
        }
      }
    }
    .villa {
      $villa-den: 532;
      right: -42/$main-den*100%;
      bottom: 50/$main-den*100%;
      width: 532/$main-den*100%;
      padding-top: 455/$main-den*100%;
      .top {
        bottom: 0;
        width: 100%;
        padding-top: 455/$villa-den*100%;
        background-image: url("../img/brand_visual_villa1.svg");
      }
      .mid {
        bottom: 0;
        width: 100%;
        padding-top: 299/$villa-den*100%;
        background-image: url("../img/brand_visual_villa2.svg");
      }
      .btm {
        bottom: 0;
        width: 100%;
        padding-top: 175/$villa-den*100%;
        background-image: url("../img/brand_visual_villa3.svg");
      }
      .person {
        &.type3 {
          $per3-den: 115;
          top: 0;
          left: 188/$villa-den*100%;
          width: 115/$villa-den*100%;
          margin-top: 43/$villa-den*100%;
          padding-top: 146/$villa-den*100%;
          .body {
            @include position(absolute);
            display: block;
            width: 100%;
            height: 100%;
            background-image: url("../img/brand_visual_person3.svg");
            animation: 1s ease-out 1s infinite alternate person-type3;
            &.hide {
              z-index: 2;
              background-image: none;
            }
          }
          .balustrade {
            z-index: 1;
            top: 0;
            right: 8/$per3-den*100%;
            width: 134/$per3-den*100%;
            margin-top: 82/$per3-den*100%;
            padding-top: 33/$per3-den*100%;
            background-image: url("../img/brand_visual_balustrade1.svg");
          }
          .arm {
            top: 0;
            right: 98/$per3-den*100%;
            width: 51/$per3-den*100%;
            height: 78/$per3-den*100%;
            margin-top: 55/$per3-den*100%;
            background-image: url("../img/brand_visual_person3_arm.svg");
          }
          .bubble {
            top: 0;
            right: 11/$per3-den*100%;
            width: 52/$per3-den*100%;
            margin-top: -63/$per3-den*100%;
            padding-top: 50/$per3-den*100%;
            background-image: url("../img/brand_visual_person3_bubble.svg");
          }
        }
        &.type4 {
          $per4-den: 165;
          top: 0;
          left: 303/$villa-den*100%;
          width: 165/$villa-den*100%;
          margin-top: 159/$villa-den*100%;
          padding-top: 129/$villa-den*100%;
          .body {
            @include position(absolute);
            display: block;
            width: 100%;
            height: 100%;
            background-image: url("../img/brand_visual_person4.svg");
            animation: 1s ease-out 1s infinite alternate-reverse person-type3;
          }
          .balustrade {
            z-index: 1;
            top: 0;
            left: 0;
            width: 133/$per4-den*100%;
            margin-top: 94/$per4-den*100%;
            padding-top: 30/$per4-den*100%;
            background-image: url("../img/brand_visual_balustrade2.svg");
          }
          .bubble {
            top: 0;
            left: -4/$per4-den*100%;
            width: 53/$per4-den*100%;
            margin-top: -38/$per4-den*100%;
            padding-top: 51/$per4-den*100%;
            background-image: url("../img/brand_visual_person4_bubble.svg");
          }
        }
      }
      .tree {
        &.type1 {
          left: 562/$villa-den*100%;
          bottom: 0;
          width: 108/$villa-den*100%;
          padding-top: 200/$villa-den*100%;
          background-image: url("../img/brand_visual_tree1.svg");
        }
      }
    }
    .cloud {
      &.type1 {
        top: 320/$main-den*100%;
        right: -40/$main-den*100%;
        width: 169/$main-den*100%;
        height: 92/$main-den*100%;
        background-image: url("../img/brand_visual_cloud1.svg");
        animation: 6s linear 0s infinite running cloud;
      }
      &.type2 {
        top: 580/$main-den*100%;
        left: 570/$main-den*100%;
        width: 114/$main-den*100%;
        height: 50/$main-den*100%;
        background-image: url("../img/brand_visual_cloud2.svg");
        animation: 10s linear 0s infinite reverse cloud;
      }
    }
  }
}
@keyframes cloud {
  0% {
    opacity: 0.3;
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    transform: translate(-150*$unit, 0);
  }
  100% {
    opacity: 0.6;
    transform: translate(-300*$unit, 0);
  }
}
@keyframes person-type1 {
  0% {
    opacity: 0.8;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-30%, 0);
  }
}
@keyframes person-type2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(30%, 0);
  }
}
@keyframes person-type3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}