@import "common";

//클릭효과
//
//::after 사용을 최소화하기 위해 클릭 시 배경색 변경으로 수정
//@include click_btn_bg(원래 배경색, 어두워지는 정도값, light: 배경색 밝아짐);
@mixin click-btn_bg($color: #fff, $amount: 2%, $if: null) {
  @if $if == null {
    &:active {
      background-color: darken($color, $amount);
    }
  } @else {
    &:active {
      background-color: lighten($color, $amount);
    }
  }
}

//호버효과
@mixin hover_effect {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

/*텍스트 타입*/
%txt-type {
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.break-mo {
  display: none;
}

button {
  i {
    display: inline-block;
    margin-left: 0.666666em;
    width: 20*$unit;
    height: 20*$unit;
    vertical-align: text-top;
  }
}

.logo {
  position: relative;
  background-image: url("../img/logo_basic.svg");
  background-size: 100% auto;

  & > * {
    display: block;
    padding-top: 50%;
  }

  &.on-primary {
    background-image: url("../img/logo_onprimary.svg");
  }
}

.mockup {
  $mockup-size: 1;
  position: relative;
  width: 360*$unit/$mockup-size;
  height: 640*$unit/$mockup-size;
  border: 2px solid $gray-20;
  border-radius: 10*$unit;
  font-size: 1*$unit/$mockup-size;
  overflow: hidden;

  img {
    width: auto;
    height: 100%;
  }

  &__header {
    z-index: 1;
    @include position(absolute, 24em);
    display: flex;
    height: 60em;
  }

  &__name {
    margin: 0 10em 0 20em;
    height: inherit;
  }

  &__meter {
    height: inherit;
  }

  &__bg {
    @include position(absolute, 0, 0, 0, 0);
  }

  &__count {
    @include position(absolute, 84em, 20em);
    height: 48em;
  }

  &__card {
    @include position(absolute, 132em, 0, 0, 60em);
    padding: 0 20em;
    overflow: auto;

    img {
      width: 100%;
      height: auto;
      margin-bottom: 20em;
    }
  }

  &__nav {
    z-index: 1;
    @include position(absolute, null, 0, 0, 0);
    height: 60em;
    background-size: cover;
    @at-root #mockup-dong-ne & {
      background-image: url("../img/moc_nav1.png");
    }
    @at-root #mockup-request & {
      background-image: url("../img/moc_nav2.png");
    }
  }
}