@import "common";

%content-area {
  max-width: 1080px;
  margin: 0 auto;
}

@mixin content-area_media {
  @media (max-width: 1080px) {
    @content;
  }
}

@mixin mobile-area_media {
  @media (max-width: 767px) {
    @content;
  }
}

//클릭효과
//
//::after 사용을 최소화하기 위해 클릭 시 배경색 변경으로 수정
//@include click_btn_bg(원래 배경색, 어두워지는 정도값, light: 배경색 밝아짐);
@mixin click-btn_bg($color: #fff, $amount: 2%, $if: null) {
  @if $if == null {
    &:active {
      background-color: darken($color, $amount);
    }
  } @else {
    &:active {
      background-color: lighten($color, $amount);
    }
  }
}

//호버효과
@mixin hover_effect {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

/*텍스트 타입*/
%txt-type {
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.pc_only {
  display: block;
  @include mobile-area_media {
    display: none;
  }
}

.mo_only {
  display: none;
  @include mobile-area_media {
    display: block;
  }
}

button {
  i {
    display: inline-block;
    margin-left: 0.666666em;
    width: 20*$unit;
    height: 20*$unit;
    vertical-align: text-top;
  }
}

.logo {
  position: relative;
  background-image: url("../img/logo_basic.svg");
  background-size: 100% auto;

  & > * {
    display: block;
    padding-top: 50%;
  }

  &.on-primary {
    background-image: url("../img/logo_onprimary.svg");
  }
}

input {
  padding: 0 10*$unit;
}

.select {
  position: relative;
  height: 48*$unit;
  border-radius: 10*$unit;
  background-color: #fff;

  &.default {
    box-shadow: inset 0 0 0 2px $color-primary-light-20;
    font-size: 20*$unit;
    font-weight: $medium;

    &.on {
      ul {
        box-shadow: inset 0 0 0 2px $color-primary;
      }
    }
  }

  &.head {
    height: 40*$unit;
    border-radius: 40*$unit;
    box-shadow: none;
    background-color: $color-primary;
    font-weight: $bold;
    color: #fff;

    &.on {
      border-radius: 20*$unit;
    }

    &:before {
      right: 4*$unit;
      background-image: url("../img/i_select_a_cl_down.svg");
    }

    input {
      padding: 0 14*$unit;
    }

    &.on input {
      border-color: $color-primary-light-10;
      mix-blend-mode: hard-light;
    }

    &.on ul {
      padding-top: 50*$unit;
    }

    li {
      height: 40*$unit;
      padding: 4*$unit;
      border-radius: 4*$unit;
    }
  }

  &:before {
    content: "";
    @include position(absolute, 0, null, 0);
    width: 1.8em;
    height: inherit;
    background-image: url("../img/i_select_a_c_down.svg");
    background-size: 0.8em;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.on:before {
    z-index: 3;
    transform: rotate(180deg);
  }

  input {
    @include position(absolute, 0, 0, 0, 0);
    border: 0;
    background-color: transparent;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
  }

  &.on input {
    z-index: 2;
    border-bottom: 1px solid $color-primary-light-40;
    mix-blend-mode: darken;
  }

  ul {
    z-index: -1;
    @include position(absolute);
    width: 100%;
    height: 1px;
    background-color: inherit;
    opacity: 0;
    overflow: hidden;
  }

  &.on ul {
    z-index: 1;
    height: auto;
    padding: 58*$unit 10*$unit 10*$unit;
    border-radius: inherit;
    opacity: 1;
    transition: opacity 0.2s;
  }

  li {
    display: flex;
    align-items: center;
    padding: 10*$unit;
    height: 48*$unit;
    cursor: pointer;

    &:active {
      background-color: $color-primary-light-60;
      color: $color-primary-dark-10;
    }
  }
}

.mockup {
  $mockup-size: 1;
  z-index: 0;
  position: relative;
  width: 360em/$mockup-size;
  height: 640em/$mockup-size;
  border: 2px solid $gray-20;
  border-radius: 10*$unit;
  font-size: 1*$unit/$mockup-size;
  overflow: hidden;

  img {
    width: auto;
    height: 100%;
  }

  &__header {
    z-index: 1;
    @include position(absolute, 24em);
    display: flex;
    height: 60em;
  }

  &__name {
    margin: 0 10em 0 20em;
    height: inherit;
  }

  &__meter {
    height: inherit;
  }

  &__bg {
    @include position(absolute, 0, 0, 0, 0);
  }

  &__card {
    @include position(absolute, 84em, 0, 0, 60em);
    padding: 48em 20em 0;
    overflow: auto;

    img {
      width: 100%;
      height: auto;
      margin-bottom: 20em;
    }
  }

  &__count {
    @include position(absolute, 0);
    padding: 0 20em;
    width: 100%;
    height: 48em;
    background-image: url("../img/moc_filter.png");
    background-size: auto 100%;
    background-position: right 20em center;

    img {
      width: auto;
      height: 100%;
    }
  }

  &__nav {
    z-index: 1;
    @include position(absolute, null, 0, 0, 0);
    height: 60em;
    background-size: cover;
    @at-root #mockup-dong-ne & {
      background-image: url("../img/moc_nav1.png");
    }
    @at-root #mockup-request & {
      background-image: url("../img/moc_nav2.png");
    }
  }
}