@charset "UTF-8";
@font-face {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 100;
  src: url("../font/SpoqaHanSansNeo-Thin.woff");
}
@font-face {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 300;
  src: url("../font/SpoqaHanSansNeo-Light.woff");
}
@font-face {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 400;
  src: url("../font/SpoqaHanSansNeo-Regular.woff");
}
@font-face {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  src: url("../font/SpoqaHanSansNeo-Medium.woff");
}
@font-face {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 700;
  src: url("../font/SpoqaHanSansNeo-Bold.woff");
}
html {
  font-family: Spoqa Han Sans Neo, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  box-sizing: border-box;
  letter-spacing: -0.04em;
  word-break: break-all;
  color: #212121;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 320px) {
  html {
    font-size: 56.25%;
  }
}
/*@media (min-width: 376px) and (max-width: 768px){
    html {
        font-size: 68.75%; //font-size 11px로 지정(아이폰 x 대응)
    }
}*/
body {
  font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  box-sizing: inherit;
  letter-spacing: inherit;
  word-break: inherit;
  color: inherit;
  background-repeat: inherit;
}

button {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  background-color: transparent;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
dl, ul, ol, li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal;
}

:placeholder-shown {
  text-overflow: ellipsis;
}

*[role=button] {
  cursor: pointer;
}

input, textarea, select, *[role=button] {
  width: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
input:disabled, textarea:disabled, select:disabled, *[role=button]:disabled {
  opacity: 1;
}

label, textarea {
  display: block;
}

input[type=checkbox], input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.checkbox label, .radio label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input::-ms-clear {
  display: none;
}

textarea {
  resize: none;
}

fieldset {
  border: 0;
}

/*아이콘*/
i:after {
  content: "";
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/*텍스트 타입*/
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.break-mo {
  display: none;
}

button i {
  display: inline-block;
  margin-left: 0.666666em;
  width: 2rem;
  height: 2rem;
  vertical-align: text-top;
}

.logo {
  position: relative;
  background-image: url("../img/logo_basic.svg");
  background-size: 100% auto;
}
.logo > * {
  display: block;
  padding-top: 50%;
}
.logo.on-primary {
  background-image: url("../img/logo_onprimary.svg");
}

.mockup {
  position: relative;
  width: 36rem;
  height: 64rem;
  border: 2px solid #EEEEEE;
  border-radius: 1rem;
  font-size: 0.1rem;
  overflow: hidden;
}
.mockup img {
  width: auto;
  height: 100%;
}
.mockup__header {
  z-index: 1;
  position: absolute;
  top: 24em;
  left: 0;
  display: flex;
  height: 60em;
}
.mockup__name {
  margin: 0 10em 0 20em;
  height: inherit;
}
.mockup__meter {
  height: inherit;
}
.mockup__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mockup__count {
  position: absolute;
  top: 84em;
  left: 20em;
  height: 48em;
}
.mockup__card {
  position: absolute;
  top: 132em;
  left: 0;
  right: 0;
  bottom: 60em;
  padding: 0 20em;
  overflow: auto;
}
.mockup__card img {
  width: 100%;
  height: auto;
  margin-bottom: 20em;
}
.mockup__nav {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60em;
  background-size: cover;
}
#mockup-dong-ne .mockup__nav {
  background-image: url("../img/moc_nav1.png");
}

#mockup-request .mockup__nav {
  background-image: url("../img/moc_nav2.png");
}

.intro-setting__inner, .strip-banner__inner, .supplier-activity__inner, .intro-request__inner, .brand-visual__inner, .header {
  max-width: 1080px;
  min-width: 320px;
  margin: 0 auto;
}

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem;
}
.header__inner {
  display: flex;
  align-items: center;
  height: 9.4rem;
  padding: 0 2.4rem 0 3.6rem;
  border-radius: 9.4rem;
  box-shadow: 1.2rem 2.4rem 3rem rgba(86, 81, 195, 0.04);
  background-color: #fff;
}
.header__gnb {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__gnb button {
  position: relative;
  width: auto;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 500;
  color: #BDBDBD;
}
.header__gnb button:not(:last-child):after {
  position: absolute;
  top: 50%;
  right: -2px;
  transform: translate(0, -50%);
  top: 50%;
  content: "";
  display: block;
  width: 2px;
  height: 0.8em;
  background-color: #EEEEEE;
}
.header__gnb button.on {
  font-weight: 700;
  color: #00B28F;
}
@media (hover: hover) {
  .header__gnb button:hover {
    font-weight: 700;
    color: #00B28F;
  }
}
.header__snb {
  display: flex;
}
.header__snb button {
  width: auto;
  height: 4.8rem;
  padding: 0 2rem;
  border: 1px solid #EEEEEE;
  border-radius: 4.8rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #9E9E9E;
}
.header__snb button + * {
  margin-left: 1.6rem;
}
@media (hover: hover) {
  .header__snb button:hover {
    border-color: #00B28F;
    color: #00B28F;
  }
}
.header__snb button:active {
  background-color: #fafafa;
}
.header__snb .cta {
  border: 0;
  background-color: #00B28F;
  font-weight: 700;
  color: #fff !important;
}
@media (hover: hover) {
  .header__snb .cta:hover {
    background-color: #5873DC;
  }
}
.header__snb .cta:active {
  background-color: #506cda;
}
.header__snb .cta .i_download {
  background-image: url("../img/i_download_w.svg");
}
.header .logo {
  width: 6rem;
}

.brand-visual {
  background: linear-gradient(to bottom, #F2F9F7 93.75%, #FFFAEB 93.75%);
  overflow: hidden;
}
.brand-visual__inner {
  position: relative;
}
.brand-visual__inner:after {
  content: "";
  display: block;
  clear: both;
}
.brand-visual__ttl {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 19.814814% 5.4rem 0;
  font-size: 1vw;
}
.brand-visual__ttl img {
  width: auto;
  height: 8em;
  max-height: 7.6rem;
}
.brand-visual__txt {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 38.333333% 5.4rem 0;
  font-size: 1.8rem;
  color: #757575;
}
.brand-visual__txt img {
  width: 2.8888888889em;
  height: 2.8888888889em;
  margin-left: 0.6666666667em;
}
.brand-visual__txt em {
  font-weight: 700;
  color: #00B28F;
}
@media (max-width: 1080px) {
  .brand-visual__txt {
    font-size: 1.666666vw;
  }
}
.brand-visual__img-box {
  position: relative;
  padding-top: 88.8888888889%;
}
.brand-visual__img-box * {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}
.brand-visual__img-box .cafe {
  left: 1.5740740741%;
  bottom: 4.6296296296%;
  width: 37.3148148148%;
  padding-top: 28.6111111111%;
  background-image: url("../img/brand_visual_cafe.svg");
}
.brand-visual__img-box .cafe .person.type1 {
  right: -39.9503722084%;
  bottom: -2.4813895782%;
  width: 39.9503722084%;
  padding-top: 63.523573201%;
  background-image: url("../img/brand_visual_person1.svg");
  animation: 2s ease-out 0s infinite alternate person-type1;
}
.brand-visual__img-box .cafe .person.type2 {
  right: 29.776674938%;
  bottom: -2.4813895782%;
  width: 37.2208436725%;
  padding-top: 58.3126550868%;
  background-image: url("../img/brand_visual_person2.svg");
  animation: 2s ease-out 0s infinite alternate person-type2;
}
.brand-visual__img-box .cafe .tree.type1 {
  right: 131.7617866005%;
  bottom: 0;
  width: 26.7990074442%;
  padding-top: 49.6277915633%;
  background-image: url("../img/brand_visual_tree1.svg");
}
.brand-visual__img-box .cafe .tree.type2 {
  right: 104.9627791563%;
  bottom: 0;
  width: 24.317617866%;
  padding-top: 25.3101736973%;
  background-image: url("../img/brand_visual_tree2.svg");
}
.brand-visual__img-box .villa {
  right: -3.8888888889%;
  bottom: 4.6296296296%;
  width: 49.2592592593%;
  padding-top: 42.1296296296%;
}
.brand-visual__img-box .villa .top {
  bottom: 0;
  width: 100%;
  padding-top: 85.5263157895%;
  background-image: url("../img/brand_visual_villa1.svg");
}
.brand-visual__img-box .villa .mid {
  bottom: 0;
  width: 100%;
  padding-top: 56.2030075188%;
  background-image: url("../img/brand_visual_villa2.svg");
}
.brand-visual__img-box .villa .btm {
  bottom: 0;
  width: 100%;
  padding-top: 32.8947368421%;
  background-image: url("../img/brand_visual_villa3.svg");
}
.brand-visual__img-box .villa .person.type3 {
  top: 0;
  left: 35.3383458647%;
  width: 21.6165413534%;
  margin-top: 8.0827067669%;
  padding-top: 27.4436090226%;
}
.brand-visual__img-box .villa .person.type3 .body {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/brand_visual_person3.svg");
  animation: 1s ease-out 1s infinite alternate person-type3;
}
.brand-visual__img-box .villa .person.type3 .body.hide {
  z-index: 2;
  background-image: none;
}
.brand-visual__img-box .villa .person.type3 .balustrade {
  z-index: 1;
  top: 0;
  right: 6.9565217391%;
  width: 116.5217391304%;
  margin-top: 71.3043478261%;
  padding-top: 28.6956521739%;
  background-image: url("../img/brand_visual_balustrade1.svg");
}
.brand-visual__img-box .villa .person.type3 .arm {
  top: 0;
  right: 85.2173913043%;
  width: 44.347826087%;
  height: 67.8260869565%;
  margin-top: 47.8260869565%;
  background-image: url("../img/brand_visual_person3_arm.svg");
}
.brand-visual__img-box .villa .person.type3 .bubble {
  top: 0;
  right: 9.5652173913%;
  width: 45.2173913043%;
  margin-top: -54.7826086957%;
  padding-top: 43.4782608696%;
  background-image: url("../img/brand_visual_person3_bubble.svg");
}
.brand-visual__img-box .villa .person.type4 {
  top: 0;
  left: 56.954887218%;
  width: 31.015037594%;
  margin-top: 29.8872180451%;
  padding-top: 24.2481203008%;
}
.brand-visual__img-box .villa .person.type4 .body {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/brand_visual_person4.svg");
  animation: 1s ease-out 1s infinite alternate-reverse person-type3;
}
.brand-visual__img-box .villa .person.type4 .balustrade {
  z-index: 1;
  top: 0;
  left: 0;
  width: 80.6060606061%;
  margin-top: 56.9696969697%;
  padding-top: 18.1818181818%;
  background-image: url("../img/brand_visual_balustrade2.svg");
}
.brand-visual__img-box .villa .person.type4 .bubble {
  top: 0;
  left: -2.4242424242%;
  width: 32.1212121212%;
  margin-top: -23.0303030303%;
  padding-top: 30.9090909091%;
  background-image: url("../img/brand_visual_person4_bubble.svg");
}
.brand-visual__img-box .villa .tree.type1 {
  left: 105.6390977444%;
  bottom: 0;
  width: 20.3007518797%;
  padding-top: 37.5939849624%;
  background-image: url("../img/brand_visual_tree1.svg");
}
.brand-visual__img-box .cloud.type1 {
  top: 29.6296296296%;
  right: -3.7037037037%;
  width: 15.6481481481%;
  height: 8.5185185185%;
  background-image: url("../img/brand_visual_cloud1.svg");
  animation: 13s linear 0s infinite running cloud;
}
.brand-visual__img-box .cloud.type2 {
  top: 53.7037037037%;
  left: 52.7777777778%;
  width: 10.5555555556%;
  height: 4.6296296296%;
  background-image: url("../img/brand_visual_cloud2.svg");
  animation: 10s linear 0s infinite reverse cloud;
}

@keyframes cloud {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    transform: translate(-25rem, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50rem, 0);
  }
}
@keyframes person-type1 {
  0% {
    opacity: 0.8;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-30%, 0);
  }
}
@keyframes person-type2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(30%, 0);
  }
}
@keyframes person-type3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.intro-request {
  background: linear-gradient(to top, #F2F5F9 1.851851%, #fff 1.851851%);
}
.intro-request__inner {
  position: relative;
  padding: 8.333333% 0 calc(11.111111% + 1.851851%);
}
.intro-request__inner:after {
  position: absolute;
  left: 7.407407%;
  bottom: 0;
  content: "";
  display: block;
  width: 22.777777%;
  padding-top: 14.814814%;
  background-image: url("../img/img_bicycle.svg");
  background-size: cover;
}
.intro-request__ttl {
  position: absolute;
  top: 13.513513%;
  left: 139.473684%;
  width: max-content;
  font-size: 3rem;
  font-weight: 700;
  word-break: keep-all;
}
@media (max-width: 1080px) {
  .intro-request__ttl {
    font-size: 2.7777777vw;
  }
}
.intro-request__txt {
  position: absolute;
  right: 139.473684%;
  bottom: 0;
  width: max-content;
  font-size: 2rem;
  color: #757575;
  text-align: right;
}
@media (max-width: 1080px) {
  .intro-request__txt {
    font-size: 1.851851vw;
  }
}
.intro-request__txt em {
  display: inline-block;
  margin-bottom: 0.7em;
  padding: 0.555555em;
  background-color: #F2F9F7;
  border-radius: 0.555555em;
  font-size: 1.8rem;
  color: #009377;
}
@media (max-width: 1080px) {
  .intro-request__txt em {
    font-size: 1.666666vw;
  }
}
.intro-request__img-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.intro-request__img-box > * + * {
  margin-left: 11.111111%;
}
.intro-request__item {
  position: relative;
  min-width: 150px;
  width: 28.148148vw;
  max-width: 30.4rem;
}
.intro-request__item:after {
  content: "";
  display: block;
  padding-top: 194.7368421%;
}
.intro-request__item:last-child {
  margin-top: 25%;
}
.intro-request__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 152.631578%;
  transform: translate(0, 0);
}
.intro-request__img.on {
  transform: translate(-8.620689%, -2.659574%);
  transition: transform 1s;
}
.intro-request__on-img {
  position: absolute;
  top: 0;
  left: -27.631578%;
  width: 105.263157%;
  padding-top: 40%;
  opacity: 0.6;
}
.intro-request__on-img img {
  margin-bottom: 6.25%;
}
.intro-request__on-img.on {
  padding-top: 29.605263%;
  opacity: 1;
  transition: padding-top 1s, opacity 1s;
}

.supplier-activity {
  background-color: #F2F5F9;
}
.supplier-activity__inner {
  padding: 9.259259% 0;
}
.supplier-activity__ttl {
  padding: 0 5.4rem 2.1875em;
  font-size: 3.2rem;
  font-weight: 700;
}
@media (max-width: 1080px) {
  .supplier-activity__ttl {
    font-size: 2.9vw;
  }
}
.supplier-activity__list {
  padding: 0 5.4rem;
  overflow: auto;
}
.supplier-activity__list__ul {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  width: max-content;
  margin-right: 5.4rem;
}
.supplier-activity__list__li {
  float: left;
  width: 24rem;
}
@media (max-width: 936px) {
  .supplier-activity__list__li {
    margin-right: 5.4rem;
  }
}
.supplier-activity__list h3 {
  padding-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 500;
  word-break: keep-all;
}
@media (max-width: 1080px) {
  .supplier-activity__list h3 {
    font-size: 2.4vw;
  }
}
.supplier-activity__list p {
  font-size: 1.6rem;
  color: #757575;
  word-break: keep-all;
}
@media (max-width: 1080px) {
  .supplier-activity__list p {
    font-size: 1.8vw;
  }
}
.supplier-activity--money {
  padding: 100% 0 12.5%;
  background-image: url("../img/img_ssam_activity1.svg");
  background-size: 100% auto;
}
.supplier-activity--mingle {
  padding: 100% 0 12.5%;
  background-image: url("../img/img_ssam_activity2.svg");
  background-size: 100% auto;
}
.supplier-activity--find {
  padding: 100% 0 12.5%;
  background-image: url("../img/img_ssam_activity3.svg");
  background-size: 100% auto;
}

.strip-banner {
  --strip-banner-bg: null;
  background-color: var(--strip-banner-bg);
}
.strip-banner__inner {
  padding: 0 5.4rem;
  background-image: url("../img/bnr_mid-strap_bg.png");
  background-size: contain;
}
.strip-banner__txt-img {
  padding-top: 11.111111%;
  background-image: url("../img/bnr_mid-strap_txt.png");
  background-size: contain;
  background-position: center;
}

/*----------유튜브--------------------------------------------------------------------------------*/
.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-wrap iframe,
.video-wrap object,
.video-wrap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*----------약관텍스트--------------------------------------------------------------------------------*/
.ol_li {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.ol_li::before {
  flex: 0 0 auto;
  content: "";
  display: none;
  counter-increment: custom-number;
  margin-right: 0.5rem;
  vertical-align: top;
}
.ol_txt {
  flex: 1;
}

.ol.dot .ol_li::before {
  content: "∙ ";
  display: inline-block;
}
.ol.dot_big .ol_li::before {
  content: "• ";
  display: inline-block;
}
.ol.nb_dot .ol_li::before {
  content: counter(custom-number) ".";
  display: inline-block;
}
.ol.nb_bracket .ol_li::before {
  content: counter(custom-number) ")";
  display: inline-block;
}
.ol.nb_circle .ol_li::before {
  display: inline-block;
}
.ol.nb_circle .ol_li:nth-child(1)::before {
  content: "①";
}
.ol.nb_circle .ol_li:nth-child(2)::before {
  content: "②";
}
.ol.nb_circle .ol_li:nth-child(3)::before {
  content: "③";
}
.ol.nb_circle .ol_li:nth-child(4)::before {
  content: "④";
}
.ol.nb_circle .ol_li:nth-child(5)::before {
  content: "⑤";
}
.ol.nb_circle .ol_li:nth-child(6)::before {
  content: "⑥";
}
.ol.nb_circle .ol_li:nth-child(7)::before {
  content: "⑦";
}
.ol.nb_circle .ol_li:nth-child(8)::before {
  content: "⑧";
}
.ol.nb_circle .ol_li:nth-child(9)::before {
  content: "⑨";
}
.ol.nb_circle .ol_li:nth-child(10)::before {
  content: "⑩";
}
.ol.nb_circle .ol_li:nth-child(11)::before {
  content: "⑪";
}
.ol.nb_circle .ol_li:nth-child(12)::before {
  content: "⑫";
}
.ol.nb_circle .ol_li:nth-child(13)::before {
  content: "⑬";
}
.ol.nb_circle .ol_li:nth-child(14)::before {
  content: "⑭";
}
.ol.nb_circle .ol_li:nth-child(15)::before {
  content: "⑮";
}
.ol.dot_hangul .ol_li::before {
  display: inline-block;
}
.ol.dot_hangul .ol_li:nth-child(1)::before {
  content: "가.";
}
.ol.dot_hangul .ol_li:nth-child(2)::before {
  content: "나.";
}
.ol.dot_hangul .ol_li:nth-child(3)::before {
  content: "다.";
}
.ol.dot_hangul .ol_li:nth-child(4)::before {
  content: "라.";
}
.ol.dot_hangul .ol_li:nth-child(5)::before {
  content: "마.";
}
.ol.dot_hangul .ol_li:nth-child(6)::before {
  content: "바.";
}
.ol.dot_hangul .ol_li:nth-child(7)::before {
  content: "사.";
}
.ol.dot_hangul .ol_li:nth-child(8)::before {
  content: "아.";
}
.ol.dot_hangul .ol_li:nth-child(9)::before {
  content: "자.";
}
.ol.dot_hangul .ol_li:nth-child(10)::before {
  content: "차.";
}
.ol.dot_hangul .ol_li:nth-child(11)::before {
  content: "카.";
}
.ol.dot_hangul .ol_li:nth-child(12)::before {
  content: "타.";
}
.ol.dot_hangul .ol_li:nth-child(13)::before {
  content: "파.";
}
.ol.dot_hangul .ol_li:nth-child(14)::before {
  content: "하.";
}

/*# sourceMappingURL=main.css.map */
